html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #0c1631;
  font-family: sans-serif;
}

.header {
  display: flex;
  background-color: #214ba7;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  margin: -8px;
}

.logo {
  width: 100px;
  height: 100px;
}

.navigation {
  display: flex;
  gap: 25px;
  margin-right: 20px;
}

.welcome {
  color: aliceblue;
  margin-right: auto;
}

li,
a {
  list-style: none;
  text-decoration: none;
  color: aliceblue;
}

p a {
  text-decoration: underline;
}

#home {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  height: 100vh;
  gap: 25px;
}

.home{
  display: flex;
  flex-direction: column;
  color: aliceblue;
  justify-content: flex-start;
  align-items: center;
  margin-left: 75px;
  margin-top: 40px;
  gap: 20px;
}

.home h2 {
  align-self: flex-start;
  font-size: 32px;
}

.home button {
  align-self: flex-start;
  width: 100px;
  height: 30px;
  background-color: aqua;
  border-radius: 5%;
  border: aqua solid;
}

.home button:hover {
  border: aliceblue solid;
}

.home-img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bobo {
  width: 500px;
  margin: 30px 75px 25px auto;
  border-radius: 5%;
}

.home-img p {
  color: aliceblue;
  font-size: 10px;
  font-style: italic;
  margin-top: -12px;
}

#information {
  background-color: aliceblue;
  height: 100vh;
  margin: 0 -8px 0 -8px;
  display: flex;
  flex-direction: column;
}

#information h2 {
  color: #0c1631;
  align-self: center;
  font-size: 34px;
}

.information {
  display: flex;
  justify-content: space-around;
  color: #0c1631;
}

#contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: aliceblue;
  height: 200px;
}

#contacts h2 {
  align-self: center;
}

.contacts {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.email {
  font-size: 12px;
}

.contacts a {
  text-decoration: underline;
}

.footer {
  background-color: #214ba7;
  color: aliceblue;
  display: flex;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 25px;
  margin: auto -8px -50px -8px;
}